<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- Define the layer type -->
    <add key="MoviesRegister_DataAccessLayerType" value="MoviesRegister.DAL.FBDataAccessLayer"/>
    <!-- Define the max records from query -->
    <add key="QueryMaxCount" value="200"/>
    <add key="LogDestination" value="1,2"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!-- ConnectionString - Define the connection string of application	-->
    <!-- Firebird -->
    <add name="Firebird" connectionString="user id=SYSDBA;password=419110;initial catalog=C:\MoviesRegister\bin\Data\MOVIE.FDB;data source=LOCALHOST;port number=3050"/>
     </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient"/>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
    </DbProviderFactories>
  </system.data>
</configuration>
